# Databases assignment

Currently the bookshelifa database is split across multiple tables : `customer_list`, `inventory` , `order_detail` , `orders` and `product_info`.

Now we must go through the process of normalising each of these tables until we have achieved third normal form, each of these individuals tables must be normalised as well as an entity relationship diagram produced to explain the relationship between each of the individual tables.

may make sense to plug in the entity relationship diagram here.

In order to normalise our data up to 3rd normal form we must iterate through each normal form ensuring that it first meets 1st normal form, then 2nd normal form and finally 3rd normal form.

The requirements for first normal form follow as such: 

1. every field/column name must be unique
2. values in the same field should be in the same domain/topic
3. values in fields should be atomic ( only one value can be stored within each cell )
4. No two records can be identical
5. Each table requires a primary key

In [2]:
import glob 
import pandas as pd 
import numpy as np

### Ensuring `inventory` is in First Normal Form

In [7]:
inventory = pd.read_csv('data/inventory.csv') 
inventory.head()

  Warehouse Location                              Product Title  Quantity
0              Corby                Anything week time director        23
1              Corby                 Away north interest effect        17
2              Corby                     Hair research lay unit        21
3              Corby  Management nature positive spring defense         4
4              Corby                 Dinner close draw PM allow        24

We can confirm that each of the column names are unique,

checking that the field names are of the same time, e.g. each qunatity is a integer and each location name and product tile are strings .

In [9]:
inventory.dtypes

Warehouse Location    object
Product Title         object
Quantity               int64
dtype: object

The data looks atomi

We can see that there are no duplicate fields given that after dropping all duplicates from our table the number of records remain the same

In [14]:
len(inventory ) == len(inventory.drop_duplicates() )

True

Each table requires a primary key currently there exists a composite key between Warehouse location and product title.

Second Normal form has the following requirements: 

- Must in in first normal form

- No repeating groups

- No partial dependencies on any composite keys

partial dependencies are when a one or more fields are dependent on a non primary key or only part of a primary key ( a single column of a composite key )

However, above its clear that our composite key of `Warehouse Location` and `Product Title` that the `Quantity` column is dependent on both given that a book can have varying levels of stock depending on the warehouse, as well as its title. 

Perhaps worth mentioning that product title is not truly unique given that many books could potentially have the same name so it may be good prcatise to use the books product ISBN code rather than its title.

### Third normal form

The requirements for third normal form follow as such: 

1. Must aleady be in second normal form

2. no non key field must be dependent on the other

Once again for customer list we can verify that our table is already in third normal form.

Repeating the same procedure and we can confirm that the data is already in third normal form .

In [128]:
orders = pd.read_csv('data/orders.csv') 
orders.head()

,Order ID,Date,Customer ID,Total,Payment Method,Card Number,Authorisation Code
0,8987aed1c965464b9b22b3288bd3690a,2020-02-01 01:08:22,671942,75.01,Google Pay,N/a,db18faa643463c90fd3b0477f1caa6d9c734e577
1,d393984e08ea472da1031172fd781881,2020-02-01 07:32:20,991686,52.25,Paypal,N/a,c1930b607b624f23f86d85211af063e39b859358
2,74e463faf1b34caf928dd5038fb04566,2020-02-01 21:04:45,120455,188.93,Paypal,N/a,0c2866051f1bab13e7b7c4eba1dfcd3bf178ba76
3,f99085060ab04c728707a6d138c98ed1,2020-02-02 18:51:28,760665,187.88,Credit Card,6011023499925556,N/a
4,4ebe2a8622284ee39aafe97b20548665,2020-02-03 03:39:10,829042,657.89,Debit Card,341053006004904,N/a

Here can verify that

In [129]:
customer_list = pd.read_csv('data/customer_list.csv') 
customer_list.head()

,Name,address,email,phone,customer_id
0,Frank Barnett,Flat 59M; Harris terrace; Albertburgh; B6T 2XR,frank.barnett@hotmail.com,+44121 4960637,981686
1,Alexander Ford,Flat 83; Nicole pass; Lake Lewisstad; L8 7YF,alexander.ford@gmail.com,(0131) 4960131,197384
2,Devin Henderson,005 Hargreaves shoal; Port Victor; MK0 8SG,devin.henderson@gmail.com,0116 496 0955,657739
3,Diana Andrade,45 Wayne club; Barbaramouth; TF76 4DP,diana.andrade@gmail.com,+44(0)141 4960440,768407
4,Julie May,29 Rice creek; Julianmouth; W7W 5JU,julie.may@gmail.com,+44161 496 0983,760665

In [130]:
order_detail = pd.read_csv('data/order_detail.csv') 
order_detail.head()

                           Order ID       Product ISBN  Quantity
0  00044461f0804df68734e42c65c51331  978-1-04-142985-2         1
1  0016fbff105f4954892e8f03a5fc2e20  978-1-893866-80-5         2
2  0016fbff105f4954892e8f03a5fc2e20  978-1-4440-2173-8         5
3  0016fbff105f4954892e8f03a5fc2e20  978-1-70582-909-7         1
4  0016fbff105f4954892e8f03a5fc2e20  978-0-287-27735-7         5

In [15]:
product_info = pd.read_csv('data/product_info.csv')
product_info.head()

,ISBN,Type,Title,Author,Publisher,Genre,Format,Unit Price,Publication Date,Pages,Length,Narrator,Rating
0,978-1-4386-9466-5,eBook,Anything week time director,Denise Anderson,Hachette Livre,Religion and Spirituality,Digital,10.02,13/02/1955,223,NaN,NaN,2.41
1,978-0-7997-1936-9,Book,Away north interest effect,Jacob Lucero,Transworld,Gardening and Nature,Paperback,17.15,05/08/1942,241,NaN,NaN,2.98
2,978-0-13-689858-0,Book,Hair research lay unit,Karen Walters,Random House,Period Drama,Hardback,34.60,09/03/1945,177,NaN,NaN,2.43
3,978-1-104-53838-5,Book,Management nature positive spring defense,Ryan Mason,Penguin Books,Comics,Paperback,42.68,15/01/1958,109,NaN,NaN,2.34
4,978-0-696-88109-1,Book,Dinner close draw PM allow,Ronald Shields,Random House,True Crime,Paperback,36.35,24/04/1977,207,NaN,NaN,4.02

# Creating tables and Populating them

In [151]:
import sqlite3

In [152]:
type_conversions = {
    'object' : 'text' , 
    'int64' : 'integer', 
    'float64' : 'real', }

In [153]:
def df2db(df, dbname, tablename):
    
    fieldtypes = { key : type_conversions[str(value)] for key,value in df.dtypes.items()  } 

    connection = sqlite3.connect(dbname)
    df.to_sql(name = tablename,
              con=connection,
              if_exists='replace',
              index=False,
              dtype=fieldtypes
             ) 
    connection.commit() 
    connection.close()

In [154]:
#creating database 
con = sqlite3.connect('data/books.sqlite') 
con = con.cursor()

In [155]:
dataframes = { 'inventory' : inventory, 'orders' :  orders, 'customer_list' :   customer_list, 'order_detail' :  order_detail, 'product_info' : product_info }

In [156]:
#iterating though each of the csvs and adding them to the sql database as tables. 
for name, df in dataframes.items(): 
    df2db(df, 'data/books.sqlite', name )

DatabaseError: Execution failed on sql 'DROP TABLE "inventory"': database is locked

In [ ]:
conn = sqlite3.connect('data/books.sqlite')
cur = conn.cursor() 

cur.execute('select * from order_detail limit 10 ')

items = cur.fetchall() 

conn.commit() 

conn.close() 

items

## Question 2.

Retrieving the total number of books, magazines and audio books

In [150]:
#defining a function to query the database 
def execute_query(query, dbname): 
    connection = sqlite3.connect(dbname)
    connection.isolation_level = None 
    cur = connection.cursor() 
    cur.execute(query) 
    items = cur.fetchall()
    connection.commit() 
    connection.close() 

    return items

In [20]:
query = ''' SELECT type, COUNT(type) 
            FROM product_info
            GROUP BY type
            ORDER BY COUNT(type) DESC '''

execute_query(query, 'data/books.sqlite')

[('Book', 1427), ('eBook', 309), ('Magazine', 205), ('AudioBook', 107)]

## Question 3.

Query to retrive all books of a particular genre and have the highest rating, We will the top 10 'Comic' books based on ratings

In [21]:
query = ''' SELECT Title, Rating
            FROM product_info
            WHERE Genre = 'Comics' 
            ORDER BY Rating DESC
            LIMIT 10 '''

execute_query(query, 'data/books.sqlite')

[('Unit me election me', 4.02),
 ('Together agree avoid up it help', 4.02),
 ('Receive beautiful occur', 3.71),
 ('Night nor world fine consumer head', 3.46),
 ('Rule season sign big them', 3.41),
 ('Position individual professional', 3.36),
 ('Team name to matter', 3.32),
 ('Mind together social', 3.23),
 ('Identify care young apply attorney from', 3.11),
 ('History manage people enjoy night', 3.03)]

## Question 4.

Retrive all of the names and addresses of all customers who have placed an order in the last month

In [22]:
query = ''' SELECT customer_list.Name, customer_list.email
            FROM orders
            INNER JOIN customer_list ON orders.[Customer ID]=customer_list.customer_id
            WHERE strftime('%Y-%m', Date) >= strftime('%Y-%m', 'now', '-1 month')'''

execute_query(query, 'data/books.sqlite')

[('Glenn Bryan', 'glenn.bryan@hotmail.com'),
 ('Thomas Thomas', 'thomas.thomas@yahoo.com'),
 ('Tami Hall', 'tami.hall@gmail.com'),
 ('Thomas Thomas', 'thomas.thomas@yahoo.com'),
 ('Gabriel Smith', 'pmahmood@gmail.com'),
 ('Jason Gill', 'jason.gill@hotmail.co.uk'),
 ('Michael Ware', 'michael.ware@yahoo.com'),
 ('Ashley Wilson', 'ashley.wilson@gmail.com'),
 ('Tami Hall', 'tami.hall@gmail.com'),
 ('Paul Soto', 'paul.soto@hotmail.co.uk'),
 ('Kevin Morrison', 'kevin.morrison@yahoo.co.uk'),
 ('Alejandra James', 'alejandra.james@gmail.com'),
 ('Sylvia Sanchez', 'sylvia.sanchez@yahoo.com'),
 ('Brian Harris', 'brian.harris@hotmail.com'),
 ('Christian Phillips', 'christian.phillips@outlook.com'),
 ('Jason Gill', 'jason.gill@hotmail.co.uk'),
 ('Sheila Nelson', 'amyatkins@yahoo.com'),
 ('Reginald Lamb', 'paul08@hotmail.com'),
 ('Nicholas Randall', 'nicholas.randall@hotmail.co.uk'),
 ('David Price', 'murraymathew@yahoo.co.uk'),
 ('Michael Brown', 'michael.brown@gmail.com'),
 ('Kelly Anderson', 'kelly.anderson@outlook.com'),
 ('Kayla Green', 'kayla.green@hotmail.co.uk'),
 ('Dustin Burns', 'briangoddard@outlook.com'),
 ('Stacy Burke', 'stacy.burke@gmail.com'),
 ('Samuel Reeves', 'samuel.reeves@hotmail.com'),
 ('Michael Banks', 'michael.banks@hotmail.co.uk'),
 ('Grant Gomez', 'grant.gomez@yahoo.com'),
 ('Kayla Green', 'kayla.green@hotmail.co.uk'),
 ('Ricky Hester', 'ricky.hester@hotmail.co.uk'),
 ('Matthew Lewis', 'matthew.lewis@hotmail.co.uk'),
 ('Mark Lamb', 'gblake@gmail.com'),
 ('Jeffrey Love', 'jeffrey.love@gmail.com'),
 ('Eric Williams', 'eric.williams@yahoo.co.uk'),
 ('Julia Bray', 'harry32@hotmail.co.uk'),
 ('Vanessa Hodges', 'harryhale@yahoo.co.uk'),
 ('Michelle Sims', 'stuartthomas@hotmail.com'),
 ('Tami Hall', 'tami.hall@gmail.com'),
 ('Brandon Orozco', 'brandon.orozco@hotmail.co.uk'),
 ('Robert Stone', 'robert.stone@gmail.com'),
 ('Kimberly Mccarthy', 'kimberly.mccarthy@yahoo.co.uk'),
 ('Mark Zimmerman', 'francesca25@hotmail.com'),
 ('Theresa Weaver', 'theresa.weaver@yahoo.co.uk'),
 ('Eric Johnson', 'vsingh@hotmail.com'),
 ('William Morris', 'ryanleslie@yahoo.com'),
 ('Sylvia Sanchez', 'sylvia.sanchez@yahoo.com'),
 ('Robin Mcintyre', 'ningram@yahoo.co.uk'),
 ('Kayla Green', 'kayla.green@hotmail.co.uk'),
 ('Michael Banks', 'michael.banks@hotmail.co.uk'),
 ('John Rogers', 'john.rogers@yahoo.co.uk'),
 ('Zachary Patterson', 'zachary.patterson@outlook.com'),
 ('Michelle Williams', 'michelle.williams@yahoo.co.uk'),
 ('Corey Kelly', 'corey.kelly@hotmail.co.uk'),
 ('Derrick Baker', 'derrick.baker@gmail.com'),
 ('Nicholas Randall', 'nicholas.randall@hotmail.co.uk'),
 ('Robert Moore', 'marieharvey@yahoo.com'),
 ('Joy Drake', 'joy.drake@hotmail.co.uk'),
 ('Danny Hale', 'danny.hale@gmail.com'),
 ('Michelle Sims', 'stuartthomas@hotmail.com'),
 ('Tasha Smith', 'tasha.smith@outlook.com'),
 ('Michelle Sims', 'stuartthomas@hotmail.com'),
 ('Thomas Gaines', 'thomas.gaines@hotmail.com'),
 ('Corey Kelly', 'corey.kelly@hotmail.co.uk'),
 ('James Ward', 'clare88@hotmail.co.uk'),
 ('Jessica Riley', 'jessica.riley@gmail.com'),
 ('Christopher Miller', 'christopher.miller@yahoo.co.uk'),
 ('Cynthia Jackson', 'cynthia.jackson@yahoo.com'),
 ('Julia Bray', 'harry32@hotmail.co.uk'),
 ('Mary Morgan', 'mary.morgan@yahoo.com'),
 ('Derrick Baker', 'derrick.baker@gmail.com'),
 ('Brian Harris', 'brian.harris@hotmail.com')]

## Question 5.

Calculate revenue generated in the last Quarter

In [23]:
#Last quarter = last 3 months 
query = '''
        SELECT SUM(Total)
        FROM orders
        WHERE strftime('%Y-%m', Date) > strftime('%Y-%m', 'now', '-3 month')''' 

execute_query(query, 'data/books.sqlite')

[(17470.41,)]

## Question 6.

Retrive the top 5 best selling books of all time

In [24]:
query = ''' SELECT [Product ISBN], SUM(Quantity)
            FROM order_detail
            GROUP BY [Product ISBN]
            ORDER BY SUM(Quantity) DESC
            LIMIT 5 '''

execute_query(query, 'data/books.sqlite')

[('978-1-76063-131-4', 92),
 ('978-1-241-31906-9', 91),
 ('978-1-07-727420-4', 59),
 ('978-0-14-017970-5', 25),
 ('978-1-02-123386-8', 23)]

## Question 7.

Query to retrive the names of customers who have purchased a book from a particular author, We will select Holly Lee

In [25]:
query = ''' SELECT customer_list.Name 
            FROM orders
            INNER JOIN customer_list on orders.[Customer ID] = customer_list.customer_id

            WHERE orders.[Order ID] in 

            -- Subquery 
            
            (
            SELECT order_detail.[Order ID]
            FROM order_detail
            INNER JOIN product_info on order_detail.[Product ISBN] = product_info.ISBN
            WHERE product_info.Author = "Holly Lee" ) 
            
            '''
execute_query(query, 'data/books.sqlite')

[('Melissa Robinson',),
 ('Andrea Gilbert',),
 ('Michael Ayers',),
 ('Robin Mcintyre',),
 ('Joshua Hancock',)]

## Question 8.

Retrieve the names of all customers who have purchased at least one of each book type

In [26]:
query = ''' SELECT customer_list.Name

            FROM order_detail
            INNER JOIN orders on orders.[Order ID] = order_detail.[Order ID] 
            INNER JOIN product_info on product_info.ISBN = order_detail.[Product ISBN]
            INNER JOIN customer_list on customer_list.customer_id = orders.[Customer ID] 

            GROUP BY orders.[Customer ID] 

            HAVING COUNT( DISTINCT product_info.type ) = 3 
            
             '''
execute_query(query, 'data/books.sqlite')

[('Lisa Nguyen',),
 ('Henry Daniels',),
 ('Andrew Simon',),
 ('Luke Miles',),
 ('Alicia Smith',),
 ('Joseph Allen',),
 ('Scott Turner',),
 ('Joshua Johnson',),
 ('Lori Hall',),
 ('Chase Wheeler',),
 ('David Parsons',),
 ('Damon Patterson',),
 ('Diana King',),
 ('Thomas Thomas',),
 ('Alexander Ford',),
 ('James Velasquez',),
 ('Scott Morton',),
 ('Michael Banks',),
 ('David Miller',),
 ('Jose Brown',),
 ('Kelly Campos',),
 ('Deborah Cortez',),
 ('Tamara Miller',),
 ('Eric Moore',),
 ('Gabriel Smith',),
 ('Tina Fields',),
 ('Kenneth Cardenas',),
 ('Julie Phillips',),
 ('David Rodriguez',),
 ('Matthew Boyd',),
 ('Colleen Pierce',),
 ('Grant Gomez',),
 ('Brett Landry',),
 ('Joseph Barrett',),
 ('Thomas Leon',),
 ('Ricky Hester',),
 ('Dana Allen',),
 ('Barry Russell',),
 ('Robert Davis',),
 ('Patricia Ramos',),
 ('Brett Martin',),
 ('Abigail Winters',),
 ('Julie Lopez',),
 ('Laura Zhang',),
 ('Richard Barnes',),
 ('Kayla Moore',),
 ('Mary Brown',),
 ('Timothy Swanson',),
 ('Grace Cook',),
 ('Whitney Ward',),
 ('Rodney Mercado',),
 ('Joanne Munoz',),
 ('Michele Trujillo',),
 ('David Watson',),
 ('Jennifer Schaefer',),
 ('Michele Carter',),
 ('Amanda Rubio',),
 ('Jessica Johnson',),
 ('Benjamin Matthews',),
 ('Dennis Roberts',),
 ('Erica Jones',),
 ('Andrea Harris',),
 ('Jessica Jones',),
 ('Danielle Kennedy',),
 ('Bailey King',),
 ('Scott Mccoy',),
 ('Alejandro Macias',),
 ('Tina Morris',),
 ('Stephanie Garza',),
 ('Kristin Brown',),
 ('Destiny Romero',),
 ('Christopher Smith',),
 ('Dana Hill',),
 ('Colton Howard',),
 ('Tammy Taylor',),
 ('Johnathan Shannon',),
 ('Matthew Shaw',),
 ('Anthony Williams',),
 ('Amber Smith',),
 ('Laura Greer',),
 ('Erica Kelly',),
 ('Nathan Williams',),
 ('Andrea Gilbert',),
 ('Corey Kelly',),
 ('Kelli Hart',),
 ('Doris Kramer',),
 ('Ryan Clark',),
 ('Samantha Jackson',),
 ('Dale Sanchez',),
 ('Justin Miranda',),
 ('Linda Owens',),
 ('Richard Everett',),
 ('David Gray',),
 ('Rachel Larson',),
 ('Devin Henderson',),
 ('Sarah Jackson',),
 ('David Hawkins',),
 ('Geoffrey Morris',),
 ('James Ward',),
 ('Jenny Reynolds',),
 ('Mia Larson',),
 ('Brad Caldwell',),
 ('Debbie Kim',),
 ('Kimberly Brown',),
 ('Eric Jimenez',),
 ('Stephanie Waters',),
 ('Sarah Daniels',),
 ('John Rogers',),
 ('Reginald Clayton',),
 ('Ernest Parsons',),
 ('Stacey Ross',),
 ('Mason Murphy',),
 ('Mandy Porter',),
 ('Alan Lowery',),
 ('Valerie Kelly',),
 ('Tommy Webster',),
 ('Kevin Ward',),
 ('Daniel Kane',),
 ('Donald Warren',),
 ('Heather Martin',),
 ('Kristin Mccarthy',),
 ('Nicholas Perry',),
 ('Janet Harris',),
 ('Sarah Ryan',),
 ('Jennifer Cook',),
 ('Joseph Liu',),
 ('Brandi Thornton',),
 ('Jessica Lewis',),
 ('John Goodman',),
 ('Catherine Terry',),
 ('James Smith',),
 ('Tiffany Lewis',),
 ('Robert Hall',),
 ('Eric Anderson',),
 ('Jennifer Mcbride',),
 ('Aaron Miller',),
 ('Mark Lamb',),
 ('Laura Olsen',),
 ('Kyle Hobbs',),
 ('Heather Smith',),
 ('Andrew Smith',),
 ('Kayla Green',),
 ('Andrew Miller',),
 ('Karen Ellis',),
 ('Leslie Rocha',),
 ('Wendy Harper',),
 ('Benjamin Rodriguez',),
 ('Brittany Phelps',)]

## Question 9.

Retrieving names of all customer who have not purchased in the last 6 Months

In [27]:
query = ''' SELECT customer_list.Name

            FROM order_detail
            INNER JOIN orders on orders.[Order ID] = order_detail.[Order ID] 
            INNER JOIN customer_list on customer_list.customer_id = orders.[Customer ID] 

            GROUP BY orders.[Customer ID] 

            HAVING strftime('%Y-%m', MAX(orders.Date))  <= strftime('%Y-%m', 'now', '-6 month') 
            
            '''

execute_query(query, 'data/books.sqlite')

[('Thomas York',),
 ('Herbert Stevenson',),
 ('Mariah Walker',),
 ('Roy Thomas',),
 ('Kimberly Carlson',),
 ('Lisa Nguyen',),
 ('Andrea Holmes',),
 ('Heather Evans',),
 ('Kyle Morales',),
 ('Luke Miles',),
 ('Alicia Smith',),
 ('Charles Murphy',),
 ('Joseph Allen',),
 ('Michelle Cervantes',),
 ('John Gibson',),
 ('Dennis Hill',),
 ('Scott Turner',),
 ('Timothy Garcia',),
 ('Joshua Johnson',),
 ('Lori Hall',),
 ('Chase Wheeler',),
 ('David Parsons',),
 ('David Nixon',),
 ('Karen Best',),
 ('Diana King',),
 ('James Brown',),
 ('Michelle Spears',),
 ('Angela Clark',),
 ('Alexander Ford',),
 ('Jason Bullock',),
 ('Larry Foster',),
 ('Alec Lynch',),
 ('Anthony Myers',),
 ('David Roth',),
 ('Eddie Peters',),
 ('Scott Morton',),
 ('David Miller',),
 ('Jason Stanley',),
 ('Shawn Adams',),
 ('Joshua Herman',),
 ('Lauren Chapman',),
 ('Christopher Hogan',),
 ('Gregory White',),
 ('Jose Mann',),
 ('Stanley Lopez',),
 ('Jose Brown',),
 ('Erin Blackwell',),
 ('Sara Carson',),
 ('Kelly Campos',),
 ('Aaron Delacruz',),
 ('Cheyenne Garner',),
 ('Deborah Cortez',),
 ('Terri Carpenter',),
 ('Jessica Mahoney',),
 ('Tamara Miller',),
 ('Stephanie Stout',),
 ('Robert White',),
 ('Tina Fields',),
 ('Kenneth Cardenas',),
 ('David Goodwin',),
 ('Julie Phillips',),
 ('Nicole Palmer',),
 ('Matthew Boyd',),
 ('Deborah Gutierrez',),
 ('Matthew Brennan',),
 ('Melissa Wilson',),
 ('Carol Simon',),
 ('Colleen Pierce',),
 ('Danielle Foster',),
 ('Jordan Bolton',),
 ('Brett Landry',),
 ('Julie Hodges',),
 ('Jacob Riley',),
 ('Joseph Barrett',),
 ('Madeline Mendez',),
 ('Thomas Leon',),
 ('Mary Lewis',),
 ('Mark Jones',),
 ('Ryan Patterson',),
 ('Dana Allen',),
 ('Erin Matthews',),
 ('Barry Russell',),
 ('Erin Thomas',),
 ('Kevin Bryan',),
 ('Patricia Ramos',),
 ('Michael Ayers',),
 ('Brett Martin',),
 ('Donna Shelton',),
 ('Abigail Winters',),
 ('Michelle Bonilla',),
 ('Julie Lopez',),
 ('Melissa Burnett',),
 ('Tony Brown',),
 ('Laura Zhang',),
 ('Kyle Morrison',),
 ('Richard Barnes',),
 ('Kayla Moore',),
 ('Carolyn Shepherd',),
 ('Mary Brown',),
 ('Timothy Swanson',),
 ('David Morris',),
 ('David Anderson',),
 ('Grace Cook',),
 ('Whitney Ward',),
 ('Rodney Mercado',),
 ('Michele Trujillo',),
 ('Justin Osborne',),
 ('Brian Thompson',),
 ('David Watson',),
 ('Joshua Hancock',),
 ('Jennifer Schaefer',),
 ('Paul Lee',),
 ('Kristen Jackson',),
 ('Michele Carter',),
 ('Nicole Clark',),
 ('Bryce Leblanc',),
 ('John Jarvis',),
 ('James Johnson',),
 ('Curtis Gillespie',),
 ('Jessica Johnson',),
 ('Benjamin Matthews',),
 ('Derek Stephenson',),
 ('Allison Villegas',),
 ('Mary Rogers',),
 ('Dennis Roberts',),
 ('Ryan White',),
 ('Brandon Montes',),
 ('William Williams',),
 ('Andrea Harris',),
 ('Linda Contreras',),
 ('Joseph Frazier',),
 ('Jeff Mason',),
 ('Jessica Jones',),
 ('Danielle Kennedy',),
 ('Jeffrey Leon',),
 ('Douglas Johnson',),
 ('Bailey King',),
 ('Carla Perry',),
 ('Scott Mccoy',),
 ('Alejandro Macias',),
 ('Tina Morris',),
 ('Stephanie Garza',),
 ('James Chavez',),
 ('Jacob Olson',),
 ('Steven Pratt',),
 ('Kristin Brown',),
 ('Alyssa Pham',),
 ('Andrea Huff',),
 ('Destiny Romero',),
 ('Candace Garner',),
 ('Donald Williamson',),
 ('Matthew Morrow',),
 ('Joseph Hensley',),
 ('Dominique Williams',),
 ('Malik Robinson',),
 ('Phillip Paul',),
 ('Christopher Smith',),
 ('James Greene',),
 ('Colton Howard',),
 ('Tammy Taylor',),
 ('Travis Rhodes',),
 ('Johnathan Shannon',),
 ('Matthew Shaw',),
 ('Anthony Williams',),
 ('Amber Smith',),
 ('Laura Greer',),
 ('Michael Mccoy',),
 ('Jacob Howard',),
 ('Meagan Weber',),
 ('Megan Ramirez',),
 ('Tiffany Carter',),
 ('Nathan Williams',),
 ('Andrea Gilbert',),
 ('Stephen Cook',),
 ('Alexis Aguilar',),
 ('Michael Walters',),
 ('Steven Gordon',),
 ('Kelli Hart',),
 ('Doris Kramer',),
 ('Ryan Clark',),
 ('Samantha Jackson',),
 ('Thomas Owens',),
 ('Dale Sanchez',),
 ('Tina Bradford',),
 ('Joseph Little',),
 ('Justin Miranda',),
 ('Lisa Munoz',),
 ('Carol Campbell',),
 ('Brian Raymond',),
 ('Ronald Hunt',),
 ('Heather Parker',),
 ('Christopher Knapp',),
 ('Rachel Larson',),
 ('Devin Henderson',),
 ('Ruben Gutierrez',),
 ('Chelsea Mays',),
 ('Sarah Jackson',),
 ('Sandra Green',),
 ('Ryan Nguyen',),
 ('David Hawkins',),
 ('Keith Valencia',),
 ('Scott Barber',),
 ('Jenny Reynolds',),
 ('Mia Larson',),
 ('Brad Caldwell',),
 ('Tiffany Hunt',),
 ('Kimberly Brown',),
 ('Eric Jimenez',),
 ('Joseph Huynh',),
 ('Gregory Lopez',),
 ('Nancy Ramos',),
 ('Michael Aguilar',),
 ('Zachary Blankenship',),
 ('Joshua Williams',),
 ('Hannah Montgomery',),
 ('Sarah Daniels',),
 ('Daniel Anderson',),
 ('Reginald Clayton',),
 ('Cynthia Aguilar',),
 ('Victoria Olson',),
 ('Mandy Porter',),
 ('Thomas Jenkins',),
 ('Tracey House',),
 ('Andrea Joseph',),
 ('William Hays',),
 ('Alan Lowery',),
 ('Michael Powell',),
 ('Michael Mckinney',),
 ('Matthew Payne',),
 ('James Johnson',),
 ('Christina Clements',),
 ('Jody Payne',),
 ('Julie May',),
 ('Diana Andrade',),
 ('Daniel Kane',),
 ('Jessica Davis',),
 ('Donald Warren',),
 ('Steven Webb',),
 ('Margaret Nguyen',),
 ('Mary Potter',),
 ('Tricia Wilkinson',),
 ('Carlos Patel',),
 ('Kelly Arellano',),
 ('Dawn Beasley',),
 ('Kevin Shaw',),
 ('Ronald Brown',),
 ('Matthew Daniels',),
 ('Erica Bass',),
 ('Nathan Benson',),
 ('Kristin Mccarthy',),
 ('Nicholas Perry',),
 ('Jeffrey Moore',),
 ('Ashley Bowen',),
 ('William Reese',),
 ('Jeffery Johnson',),
 ('Timothy Schroeder',),
 ('Matthew Foster',),
 ('Sherry Cline',),
 ('Adam Jimenez',),
 ('Elaine Hayes',),
 ('Janet Harris',),
 ('Sarah Ryan',),
 ('Stephanie Graham',),
 ('Michael Bradshaw',),
 ('Jennifer Cook',),
 ('Carlos Herring',),
 ('Jason Williams',),
 ('Andrew Roy',),
 ('Gina Grant',),
 ('Alexis Hernandez',),
 ('Gregory Gamble',),
 ('Dominic Green',),
 ('William Bailey',),
 ('Monica Cardenas',),
 ('Melody Kramer',),
 ('Brandon Wilson',),
 ('Wayne Thompson',),
 ('Joseph Liu',),
 ('Brandi Thornton',),
 ('Jessica Lewis',),
 ('Tony Davila',),
 ('Robert Miller',),
 ('George Chase',),
 ('Daniel Hamilton',),
 ('Tracey Ford',),
 ('Kristen Kramer',),
 ('Mary Campos',),
 ('John Goodman',),
 ('Robert Martinez',),
 ('Catherine Terry',),
 ('Rachel Williams',),
 ('James Smith',),
 ('Tiffany Lewis',),
 ('Eric Anderson',),
 ('Henry Edwards',),
 ('Jessica Williams',),
 ('Nicholas Martinez',),
 ('Michael Robinson',),
 ('Jacob Tucker',),
 ('Jennifer Mcbride',),
 ('Aaron Miller',),
 ('Laura Olsen',),
 ('Kyle Hobbs',),
 ('Adrian Vazquez',),
 ('Heather Smith',),
 ('Jennifer Esparza',),
 ('Michael Brown',),
 ('Andrew Smith',),
 ('Antonio Clark',),
 ('Eric Wright',),
 ('Andrew Miller',),
 ('Brian Gibbs',),
 ('John Bailey',),
 ('Michelle Roberts',),
 ('Valerie Brown',),
 ('Wendy Harper',),
 ('Christopher Hernandez',),
 ('Amanda Hughes',),
 ('Frank Barnett',),
 ('Robert Robinson',),
 ('John Payne',),
 ('Benjamin Rodriguez',),
 ('Zachary Cruz',),
 ('Ian Williams',),
 ('Brittany Phelps',),
 ('Lisa Cook',)]

## Question 10.

All Audio books with a particular narrator, we will use Julia Whelan

In [28]:
query = ''' SELECT Title
            FROM product_info 
            WHERE Format = "Audio"
            AND Narrator = "Julia Whelan"  '''

execute_query(query, 'data/books.sqlite')

[('Federal party meeting out',),
 ('How huge down maybe similar',),
 ('Million factor resource believe water yourself',),
 ('Call understand learn drop quickly',),
 ('Brother reality pick figure',),
 ('Avoid inside experience',),
 ('Think sure growth general fear career',),
 ('New against business student hold task',),
 ('Ready big more these world modern',)]

## Question 11.

Retrieve the top 10 most popular genres based on the total number of all types

In [29]:
product_info.head()

,ISBN,Type,Title,Author,Publisher,Genre,Format,Unit Price,Publication Date,Pages,Length,Narrator,Rating
0,978-1-4386-9466-5,eBook,Anything week time director,Denise Anderson,Hachette Livre,Religion and Spirituality,Digital,10.02,13/02/1955,223,NaN,NaN,2.41
1,978-0-7997-1936-9,Book,Away north interest effect,Jacob Lucero,Transworld,Gardening and Nature,Paperback,17.15,05/08/1942,241,NaN,NaN,2.98
2,978-0-13-689858-0,Book,Hair research lay unit,Karen Walters,Random House,Period Drama,Hardback,34.60,09/03/1945,177,NaN,NaN,2.43
3,978-1-104-53838-5,Book,Management nature positive spring defense,Ryan Mason,Penguin Books,Comics,Paperback,42.68,15/01/1958,109,NaN,NaN,2.34
4,978-0-696-88109-1,Book,Dinner close draw PM allow,Ronald Shields,Random House,True Crime,Paperback,36.35,24/04/1977,207,NaN,NaN,4.02

In [30]:
order_detail.head()

                           Order ID       Product ISBN  Quantity
0  00044461f0804df68734e42c65c51331  978-1-04-142985-2         1
1  0016fbff105f4954892e8f03a5fc2e20  978-1-893866-80-5         2
2  0016fbff105f4954892e8f03a5fc2e20  978-1-4440-2173-8         5
3  0016fbff105f4954892e8f03a5fc2e20  978-1-70582-909-7         1
4  0016fbff105f4954892e8f03a5fc2e20  978-0-287-27735-7         5

In [31]:
query = ''' 

        SELECT product_info.Genre, SUM(order_detail.Quantity) 
        FROM order_detail
        INNER JOIN product_info ON product_info.ISBN = order_detail.[Product ISBN] 
        GROUP BY product_info.Genre 
        ORDER BY SUM(order_detail.Quantity ) DESC 
        LIMIT 10 
    
        ''' 

execute_query(query, 'data/books.sqlite' )

[('Science Fiction', 701),
 ('Comedy', 670),
 ('History', 660),
 ('Religion and Spirituality', 643),
 ('Romance', 611),
 ('Crime Fiction', 603),
 ('Cooking', 577),
 ('Young Adult', 571),
 ('Gardening and Nature', 571),
 ('Poetry', 533)]

## Question 12.

Retrive a disctinct list of customers who have purchased from a particular publisher

In [32]:
query = ''' 

        SELECT DISTINCT customer_list. Name 
        FROM order_detail 
        INNER JOIN orders on orders.[Order ID] = order_detail.[Order ID]
        INNER JOIN product_info on order_Detail.[Product ISBN] = product_info.ISBN 
        INNER JOIN customer_list on orders.[Customer ID] = customer_list.customer_id 

        WHERE product_info.Publisher = 'Penguin Books' 
        
        
        
        ''' 

execute_query(query, 'data/books.sqlite')

[('Jose Perez',),
 ('Troy Tucker',),
 ('Eric Johnson',),
 ('Alexandra Jones',),
 ('Joy Drake',),
 ('Larry Foster',),
 ('David Rodriguez',),
 ('Matthew Decker',),
 ('Margaret Nguyen',),
 ('Brett Cardenas',),
 ('David Hawkins',),
 ('Valerie Kelly',),
 ('Christina Clements',),
 ('Michael Cabrera',),
 ('Kyle Hobbs',),
 ('Christopher Hogan',),
 ('Caleb Gray',),
 ('Allison Villegas',),
 ('Mary Morgan',),
 ('Michael Mckinney',),
 ('Brian Gibbs',),
 ('Debra Wilson',),
 ('Debbie Kim',),
 ('Alejandra James',),
 ('Shawn Joseph',),
 ('Julie Lopez',),
 ('Stacey Ross',),
 ('Douglas Johnson',),
 ('Robert Stone',),
 ('Thomas Thomas',),
 ('Stephanie Waters',),
 ('Diana Andrade',),
 ('Jessica Davis',),
 ('Max Fuentes',),
 ('Valerie Brown',),
 ('April Austin',),
 ('Maria Rogers',),
 ('John Rogers',),
 ('Robin Mcintyre',),
 ('Raymond Rodriguez',),
 ('Julia Bray',),
 ('Benjamin Rodriguez',),
 ('Scott Barber',),
 ('James Brown',),
 ('David Miller',),
 ('Scott Espinoza',),
 ('Brandon Orozco',),
 ('Willie Spears',),
 ('Chelsea Mays',),
 ('Charles Allen',),
 ('Carlos Patel',),
 ('Phillip Paul',),
 ('Jessica Mahoney',),
 ('Eric Williams',),
 ('Jessica Smith',),
 ('David Price',),
 ('Michelle Sims',),
 ('Heather Martin',),
 ('Kevin Gray',),
 ('Scott Mccoy',),
 ('Sarah Jones',),
 ('Holly Hendrix',),
 ('Kimberly Carlson',),
 ('James Ward',),
 ('Donald Williamson',),
 ('Dana Hill',),
 ('Patricia Hart',),
 ('Eric Jimenez',),
 ('Janet Harris',),
 ('Michael Ware',),
 ('Scott Morton',),
 ('Sandra Green',),
 ('Brian Thompson',),
 ('James Chavez',),
 ('Tony Davila',),
 ('Daniel Anderson',),
 ('Kelly Campos',),
 ('Tami Hall',),
 ('Tina Fields',),
 ('Meagan Wood',),
 ('Andrea Harris',),
 ('Robin Lewis',),
 ('Michael Banks',),
 ('Sarah Neal',),
 ('Dennis Hill',),
 ('Wendy Harper',),
 ('John Martinez',),
 ('Doris Kramer',),
 ('Thomas Stevens',),
 ('Glen Johnson',),
 ('Brenda Adams',),
 ('Michelle Bonilla',),
 ('Calvin Wilkins',),
 ('Erica Jones',),
 ('Roy Thomas',),
 ('Angela Howell',),
 ('Derek Stephenson',),
 ('Zachary Patterson',),
 ('Matthew Morrow',),
 ('Joseph Frazier',),
 ('Michael Ayers',),
 ('Kristin Brown',),
 ('Destiny Romero',),
 ('Michelle Williams',),
 ('Emily Higgins',),
 ('Theresa Weaver',),
 ('Stacy Burke',),
 ('Zachary Cruz',),
 ('Ryan White',),
 ('Joshua Herman',),
 ('Julie Phillips',),
 ('Glenn Bryan',),
 ('Heather Smith',),
 ('Christopher Rose',),
 ('Christopher Hernandez',),
 ('Christopher Allen',),
 ('Jeffrey Love',),
 ('Aaron Williams',),
 ('Kristen Jackson',),
 ('Meagan Weber',),
 ('Barry Russell',),
 ('Kelli Hart',),
 ('Douglas Owens',),
 ('Nicholas Johnson',),
 ('Vanessa Hodges',),
 ('Lauren Chapman',),
 ('Jessica Lewis',),
 ('Derrick Baker',),
 ('Joshua Hancock',),
 ('Michele Carter',),
 ('Melissa Robinson',),
 ('Andrea Gilbert',),
 ('Brian Raymond',),
 ('Samuel Reeves',),
 ('Eddie Peters',),
 ('Kimberly Mccarthy',),
 ('Reginald Lamb',),
 ('Timothy Garcia',),
 ('Nicholas Martinez',),
 ('Kyle Morrison',),
 ('Andrea Bowen',),
 ('Dennis Roberts',),
 ('Scott Turner',),
 ('Helen Lynch',),
 ('Stephanie Garza',),
 ('Hannah Montgomery',),
 ('Christopher Miller',),
 ('Cheyenne Garner',),
 ('Kevin Ward',),
 ('Timothy Moore',),
 ('Brandi Oneal',),
 ('Christopher Dorsey',),
 ('Amanda Rubio',),
 ('Bryce Leblanc',),
 ('Brian Harris',),
 ('Corey Kelly',),
 ('Travis Rhodes',),
 ('Kevin Morrison',),
 ('Ruben Gutierrez',),
 ('Paul Soto',),
 ('Yvonne Levy',),
 ('Nancy Ramos',),
 ('Jose Mann',),
 ('Ariel Cain',),
 ('Tommy Webster',),
 ('Joshua Williams',),
 ('Lisa Nguyen',),
 ('Aaron Delacruz',),
 ('Kelly Anderson',),
 ('Victoria Olson',),
 ('Mary Lewis',),
 ('Stephen Cook',),
 ('Angela Clark',),
 ('Elaine Hayes',),
 ('Candace Garner',),
 ('Matthew Lewis',),
 ('Alison Garcia',),
 ('David Stevens',),
 ('Ryan Nguyen',),
 ('William Andersen',),
 ('Brandi Thornton',),
 ('Paula Adams',),
 ('Stephanie Stout',),
 ('David Anderson',),
 ('Heather Parker',),
 ('Melissa Smith',),
 ('Donald Warren',),
 ('Jacqueline Page',),
 ('Nicholas Randall',),
 ('James Johnson',),
 ('Cynthia Aguilar',),
 ('Mark Lamb',),
 ('Nicole Palmer',),
 ('Geoffrey Morris',),
 ('Andrew Simon',),
 ('Chris Parker',),
 ('Alejandro Macias',),
 ('Melissa Patrick',),
 ('Keith Valencia',),
 ('Jessica Johnson',),
 ('Mason Murphy',),
 ('Robert Martinez',),
 ('Ryan Clark',),
 ('Andrea Holmes',),
 ('Sarah Ryan',),
 ('Daniel Kane',),
 ('Jacob Tucker',),
 ('Brandon Wilson',),
 ('Curtis Gillespie',),
 ('Kevin Shaw',),
 ('James Greene',),
 ('Kelly Wall',),
 ('Donna Cook',),
 ('Dustin Burns',),
 ('Zachary Blankenship',),
 ('David Gray',),
 ('Jennifer Brown',),
 ('Michael Ponce',),
 ('Karen Ellis',),
 ('Thomas Owens',),
 ('Sherry Cline',),
 ('Brianna Rodriguez',),
 ('Andrew Roy',),
 ('Laura Greer',),
 ('Mary Campos',),
 ('Carl Brown',),
 ('Jeffrey Moore',),
 ('Jason Gill',),
 ('Caitlin Torres',),
 ('Steven Gordon',),
 ('Matthew Payne',),
 ('Steven Webb',),
 ('Kayla Green',),
 ('Michael Robinson',),
 ('Jessica Turner',),
 ('William Riley',),
 ('Whitney Ward',),
 ('Alyssa Pham',),
 ('Kevin Bryan',),
 ('Tasha Smith',),
 ('Tara Salas',),
 ('Kimberly Frank',),
 ('Robert Davis',),
 ('Mary Brown',),
 ('Michael Brown',),
 ('Gregory Gamble',),
 ('Jordan Bolton',),
 ('James Harrison',),
 ('Kyle Morales',),
 ('Timothy Swanson',),
 ('Anthony Myers',),
 ('Jennifer Cook',),
 ('Adrian Vazquez',),
 ('Joshua Johnson',),
 ('Thomas York',),
 ('Ronald Hunt',),
 ('Mariah Walker',),
 ('Lisa Cook',),
 ('Ashley Bowen',),
 ('David Parsons',),
 ('David Watson',),
 ('Brett Martin',),
 ('Erin Blackwell',),
 ('Barbara Conway',),
 ('Kayla Moore',),
 ('Karen Best',),
 ('Kenneth Cardenas',),
 ('Richard Barnes',),
 ('John Goodman',)]

## Question 13.

Find books which have been ordered by more than 50 customers

In [33]:
query = ''' 

        SELECT product_info.Title
        FROM order_detail
        INNER JOIN orders on orders.[Order ID] = order_detail.[Order ID] 
        INNER JOIN product_info on order_detail.[Product ISBN] = product_info.ISBN

        GROUP BY order_detail.[Product ISBN] 

        HAVING COUNT(DISTINCT orders.[Customer ID] ) > 50 
        ''' 

execute_query(query, 'data/books.sqlite')

[('Against give month receive through network image',),
 ('Amount look mother',),
 ('Board involve sign number simply',)]

## Query 14.

All customers who have spent more than the avreage amount

In [107]:
query = '''

        SELECT customer_list.Name
        FROM orders 
        INNER JOIN customer_list on orders.[Customer ID] = customer_list.customer_id 

        GROUP BY customer_list.customer_id 

        HAVING SUM(orders.Total) >  ( (SELECT SUM(Total) FROM Orders ) / (SELECT COUNT(*) FROM customer_list  ) ) 

        ''' 
execute_query(query, 'data/books.sqlite')

[('Kimberly Carlson',),
 ('Zachary Patterson',),
 ('Jose Perez',),
 ('Matthew Lewis',),
 ('Michael Brown',),
 ('Timothy Garcia',),
 ('Damon Patterson',),
 ('Troy Tucker',),
 ('Julia Bray',),
 ('Thomas Thomas',),
 ('Holly Hendrix',),
 ('James Velasquez',),
 ('Scott Morton',),
 ('Theresa Weaver',),
 ('Joshua Herman',),
 ('Lauren Chapman',),
 ('Vanessa Hodges',),
 ('Deborah Cortez',),
 ('Melissa Robinson',),
 ('Shawn Joseph',),
 ('Scott Espinoza',),
 ('David Rodriguez',),
 ('Patricia Hart',),
 ('Debra Wilson',),
 ('Sarah Jones',),
 ('Mary Lewis',),
 ('Robin Lewis',),
 ('Christopher Miller',),
 ('Ricky Hester',),
 ('Derrick Baker',),
 ('Barry Russell',),
 ('Calvin Wilkins',),
 ('Robert Davis',),
 ('Michael Ayers',),
 ('Brett Martin',),
 ('John Martinez',),
 ('Michelle Bonilla',),
 ('Julie Lopez',),
 ('Aaron Williams',),
 ('Emily Higgins',),
 ('Eric Williams',),
 ('Whitney Ward',),
 ('Allen Carroll',),
 ('Brian Thompson',),
 ('Donald Robbins',),
 ('Sarah Neal',),
 ('Joshua Hancock',),
 ('Kristen Jackson',),
 ('Charles Allen',),
 ('Allison Villegas',),
 ('Caleb Gray',),
 ('Ryan White',),
 ('Alejandra James',),
 ('Erica Jones',),
 ('Kimberly Frank',),
 ('Kelly Wall',),
 ('Douglas Johnson',),
 ('Jacqueline Page',),
 ('Alejandro Macias',),
 ('Thomas Stevens',),
 ('Raymond Rodriguez',),
 ('Timothy Moore',),
 ('Willie Spears',),
 ('Douglas Owens',),
 ('Candace Garner',),
 ('Donald Williamson',),
 ('William Andersen',),
 ('Phillip Paul',),
 ('Dana Hill',),
 ('Travis Rhodes',),
 ('Nicholas Randall',),
 ('Matthew Shaw',),
 ('Robin Mcintyre',),
 ('Meagan Wood',),
 ('Andrea Gilbert',),
 ('Alexandra Jones',),
 ('Corey Kelly',),
 ('Cynthia Jackson',),
 ('Kelli Hart',),
 ('Theresa Anderson',),
 ('Justin Miranda',),
 ('James Blair',),
 ('Melissa Patrick',),
 ('Brian Raymond',),
 ('Kevin Gray',),
 ('Jason Gill',),
 ('Sandra Green',),
 ('Ryan Nguyen',),
 ('David Hawkins',),
 ('James Ward',),
 ('Stacy Burke',),
 ('Debbie Kim',),
 ('Christopher Allen',),
 ('Eric Jimenez',),
 ('Michelle Sims',),
 ('Nancy Ramos',),
 ('Hannah Montgomery',),
 ('Sarah Daniels',),
 ('Daniel Anderson',),
 ('John Rogers',),
 ('Victoria Olson',),
 ('Jessica Riley',),
 ('Christopher Dorsey',),
 ('Matthew Payne',),
 ('Valerie Kelly',),
 ('James Johnson',),
 ('Christina Clements',),
 ('Helen Lynch',),
 ('Kevin Ward',),
 ('Jessica Davis',),
 ('Margaret Nguyen',),
 ('Dawn Beasley',),
 ('Matthew Foster',),
 ('Tami Hall',),
 ('Carl Brown',),
 ('Dustin Burns',),
 ('Jessica Lewis',),
 ('Angela Howell',),
 ('William Riley',),
 ('Glenn Bryan',),
 ('Joy Drake',),
 ('Robert Stone',),
 ('Barbara Conway',),
 ('April Austin',),
 ('Michael Ware',),
 ('Kyle Hobbs',),
 ('Christopher Rose',),
 ('Eric Johnson',),
 ('Kayla Green',),
 ('Mary Morgan',),
 ('Brian Gibbs',),
 ('Brandon Orozco',),
 ('Michelle Roberts',),
 ('Reginald Lamb',),
 ('Christopher Hernandez',),
 ('Benjamin Rodriguez',),
 ('Michael Cabrera',),
 ('Brittany Phelps',),
 ('Maria Rogers',),
 ('Lisa Cook',)]

## Query 15.

Finding the names all books which have not been ordered

In [122]:
query = '''

        SELECT Title
        FROM product_info 
        WHERE ISBN NOT IN (SELECT DISTINCT( [Product ISBN])  FROM order_detail )

        '''

execute_query(query, 'data/books.sqlite')

[('Goal my message action sense method',),
 ('Financial culture commercial',),
 ('Not after alone pressure',),
 ('Result nor class produce daughter',),
 ('Those issue newspaper throw issue',),
 ('Drug grow race',),
 ('Usually nature training sea either',),
 ('Light gas tough above tree',),
 ('Current strong effort without',),
 ('Of sort trial prove',),
 ('Activity media artist',),
 ('Large girl long reflect newspaper',),
 ('Show minute top imagine',),
 ('This billion necessary run card art',),
 ('Move Republican heavy',),
 ('Need past themselves',),
 ('Certain black herself often strong',),
 ('Notice down ok current statement throw',),
 ('Short table not answer',)]

## Additional Features

ONe additional feature could be partinoing the dataset, given that our dataset is currently quite small it means that querying it is rather fast however as the number or orders, customers and books grow it can cause an icnrease in the number of records leading to lower queries.

In [29]:
orders.head()

,Order ID,Date,Customer ID,Total,Payment Method,Card Number,Authorisation Code
0,8987aed1c965464b9b22b3288bd3690a,2020-02-01 01:08:22,671942,75.01,Google Pay,N/a,db18faa643463c90fd3b0477f1caa6d9c734e577
1,d393984e08ea472da1031172fd781881,2020-02-01 07:32:20,991686,52.25,Paypal,N/a,c1930b607b624f23f86d85211af063e39b859358
2,74e463faf1b34caf928dd5038fb04566,2020-02-01 21:04:45,120455,188.93,Paypal,N/a,0c2866051f1bab13e7b7c4eba1dfcd3bf178ba76
3,f99085060ab04c728707a6d138c98ed1,2020-02-02 18:51:28,760665,187.88,Credit Card,6011023499925556,N/a
4,4ebe2a8622284ee39aafe97b20548665,2020-02-03 03:39:10,829042,657.89,Debit Card,341053006004904,N/a

## Additional features

Although currently the database seems to be quite small and the majority of the queries execute in a fast time. However, this may change in the future as the company grows (stocks more books, takes on more users and receives a greater number of orders )

As a result it may be useful to partition some of our tables based around time, e.g. we can create two order tables one which simply contains all orders from the last 3 months and which contains all orders in our database. 

The advantage of this is that majority of the compaies quierires may be converning the last couple months, e.g wanting to produce weekly or monthly dashborads the 3 month edition can be used which will nt only be faster but cheaper if the company is hosting this databse service on the cloud. 

If they are looking for missing orders or chasing up details it may also be likely that these would have been in the last 3 months, (e.g. admin staff may interact with this database through a graphical interface

In [20]:
query = '''
        SELECT MIN(Date)
        from orders
        '''

execute_query(query, 'data/books.sqlite')

[('2020-02-01 01:08:22',)]

## Creating table for the last 3 months of data.

Its worth noting that Sqlite3 doenst natively support partions so we can cannot introduce partions into our original order table, but rather we can create a query to create and hydrate a new table with only the last 3 months of order table

In [18]:
query = '''
        CREATE TABLE orders_3month AS 
        SELECT * from orders
        WHERE strftime('%Y-%m', Date)  >= strftime('%Y-%m', 'now', '-3 month') 
        '''

execute_query(query, 'data/books.sqlite')

[]

Double checking that our new table has been added by printing all of the tables

In [30]:
query = '''
        SELECT name 
        FROM sqlite_master 
        WHERE type='table' 
        AND name NOT LIKE 'sqlite_%'
        '''
execute_query(query, 'data/books.sqlite')

[('invetory',),
 ('inventory',),
 ('orders',),
 ('customer_list',),
 ('order_detail',),
 ('product_info',),
 ('orders_3month',)]

# Comparing speed improvements when using our 3 month cache vs total history

In [35]:
query_old = ''' SELECT customer_list.Name, customer_list.email
            FROM orders
            INNER JOIN customer_list ON orders.[Customer ID]=customer_list.customer_id
            WHERE strftime('%Y-%m', Date) >= strftime('%Y-%m', 'now', '-1 month')'''


query_new  =''' SELECT customer_list.Name, customer_list.email
            FROM orders_3month
            INNER JOIN customer_list ON orders_3month.[Customer ID]=customer_list.customer_id
            WHERE strftime('%Y-%m', Date) >= strftime('%Y-%m', 'now', '-1 month')'''

In [36]:
%timeit execute_query(query_old, 'data/books.sqlite')

4.35 ms ± 45.6 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%timeit execute_query(query_new, 'data/books.sqlite')

659 μs ± 3.07 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [40]:
print(f'query using orders cache table was {round(4.35 / 0.659, 2) } times faster when compared to the original ')

query using orders cache table was 6.6 times faster when compared to the original

Although we have sped it up the original query only took 5ms however its worth noting that as there datasets continue to grow, this may also impact query performance which could inturn lead to long wait times for queries and creating seperate tables with the most recent data which is the most likely to be required for queries can be a good idea.

However, this comes at the cost of higher memory requirements given that we are storing the last 3 months of order data in our `orders_3month` table as well as the `orders` table

## Possibly better schema visualisers could be helpful

## Adding check statements to table creation

Along side creating a 3_month cache of the order table into to speed up queries, we can also enforce checking in each of dataframe columns which will help to prevent erroneous inputs, e.g enforcing unique user,orders an dbook iDS, telephone numbers

``` create table example
( 
  age integer not null check (typeof(age)='integer'),
  name text not null check (length(name) between 1 and 100),
  salary integer check (salary is null or typeof(salary)='integer')
)
```

In [44]:
query = '''

        SELECT name, sql
        FROM sqlite_master
        WHERE type='table'
        ORDER BY name 
        '''

execute_query(query, 'data/books.sqlite')

[('customer_list',
  'CREATE TABLE "customer_list" (\n"Name" text,\n  "address" text,\n  "email" text,\n  "phone" text,\n  "customer_id" integer\n)'),
 ('inventory',
  'CREATE TABLE "inventory" (\n"Warehouse Location" text,\n  "Product Title" text,\n  "Quantity" integer\n)'),
 ('invetory',
  'CREATE TABLE "invetory" (\n"Warehouse Location" text,\n  "Product Title" text,\n  "Quantity" integer\n)'),
 ('order_detail',
  'CREATE TABLE "order_detail" (\n"Order ID" text,\n  "Product ISBN" text,\n  "Quantity" integer\n)'),
 ('orders',
  'CREATE TABLE "orders" (\n"Order ID" text,\n  "Date" text,\n  "Customer ID" integer,\n  "Total" real,\n  "Payment Method" text,\n  "Card Number" text,\n  "Authorisation Code" text\n)'),
 ('orders_3month',
  'CREATE TABLE orders_3month(\n  "Order ID" TEXT,\n  Date TEXT,\n  "Customer ID" INT,\n  Total REAL,\n  "Payment Method" TEXT,\n  "Card Number" TEXT,\n  "Authorisation Code" TEXT\n)'),
 ('product_info',
  'CREATE TABLE "product_info" (\n"ISBN" text,\n  "Type" text,\n  "Title" text,\n  "Author" text,\n  "Publisher" text,\n  "Genre" text,\n  "Format" text,\n  "Unit Price" real,\n  "Publication Date" text,\n  "Pages" integer,\n  "Length" text,\n  "Narrator" text,\n  "Rating" real\n)')]

Rewriting how our tables are constructed in order to implement particular constraints

In [157]:
create_customer_list = ''' 
                       CREATE TABLE customer_list_2(

                       Name TEXT NOT NULL,
                       address TEXT NOT NULL, 
                       email TEXT NOT NULL UNIQUE, 
                       phone TEXT NOT NULL UNIQUE, 
                       customer_id TEXT UNIQUE 

                       CHECK ( email LIKE '%@%.%' ) 
                       
                        )
                        ''' 

create_inventory = '''

                   CREATE TABLE inventory_2 (

                   Warehouse Location TEXT NOT NULL,
                   Product Title TEXT NOT NULL, 
                   Quantity INTEGER NOT NULL
                   
                   )

                    '''

create_order_detail = '''


                      CREATE TABLE order_detail_2 (
                      
                      'Order ID' TEXT NOT NULL, 
                      Product ISBN TEXT NOT NULL, 
                      Quantity INTEGER NOT NULL 
                      )
                      '''

create_orders = '''

                CREATE TABLE orders_2 ( 

                'Order ID' TEXT NOT NULL UNIQUE, 
                Date TEXT NOT NULL, 
                Customer ID INTEGER NOT NULL ,
                Total REAL NOT NULL ,
                Payment Method TEXT NOT NULL, 
                Card Number TEXT ,
                Authorisation Code TEXT 
                )
                '''


create_product_info = '''

                       CREATE TABLE product_info_2 (

                       ISBN TEXT NOT NULL UNIQUE,
                       Type TEXT ,
                       Title TEXT NOT NULL ,
                       Author TEXT NOT NULL ,
                       Publisher TEXT NOT NULL ,
                       Genre TEXT,
                       Format TEXT NOT NULL,
                       Unit Price REAL NOT NULL,
                       Publication Date TEXT,
                       Pages INTEGER,
                       Length TEXT,
                       Narrator TEXT,
                       Rating REAL 
                       ) 
                      

                      ''' 

constructor_queries = [
    create_customer_list,
    create_inventory, 
    create_order_detail,
    create_orders,
    create_product_info, 
]

In [158]:
#quickly dropping older tables
for name, df in dataframes.items():

    query = f'DROP TABLE IF EXISTS {name}_2' 
    execute_query(query, 'data/books.sqlite')

# Creating all new tables

In [159]:
for query in constructor_queries:
    execute_query(query, 'data/books.sqlite')

# copying all data into our tables

In [160]:
for table in dataframes.keys(): 

    #copying data into our table 

    query = f''' 
            INSERT INTO {table}_2 
            SELECT *
            FROM {table}
            ''' 

    execute_query(query, 'data/books.sqlite') 

    #deleting old table 

    query = f'''
             DROP TABLE {table}
             '''
    execute_query(query, 'data/books.sqlite') 

    #renaming our new table to the same as the old 

    query = f'''

             ALTER TABLE {table}_2
             RENAME TO {table} 
             
             '''

    execute_query(query, 'data/books.sqlite')

Now with updated tables we can try to insert incorrect data or leave values all null

Printing the first few records of customer table

In [161]:
query = '''
        SELECT * 
        FROM customer_list
        limit 5 
        ''' 

execute_query(query, 'data/books.sqlite')

[('Frank Barnett',
  'Flat 59M; Harris terrace; Albertburgh; B6T 2XR',
  'frank.barnett@hotmail.com',
  '+44121 4960637',
  '981686'),
 ('Alexander Ford',
  'Flat 83; Nicole pass; Lake Lewisstad; L8 7YF',
  'alexander.ford@gmail.com',
  '(0131) 4960131',
  '197384'),
 ('Devin Henderson',
  '005 Hargreaves shoal; Port Victor; MK0 8SG',
  'devin.henderson@gmail.com',
  '0116 496 0955',
  '657739'),
 ('Diana Andrade',
  '45 Wayne club; Barbaramouth; TF76 4DP',
  'diana.andrade@gmail.com',
  '+44(0)141 4960440',
  '768407'),
 ('Julie May',
  '29 Rice creek; Julianmouth; W7W 5JU',
  'julie.may@gmail.com',
  '+44161 496 0983',
  '760665')]

Given that above we defined multiple conditions around inserting data into our cusotmer table but 2 of them where customer_id must be unique as well as the fact that Name cannot be NULL, so lets try an insert a record where both of these are the case

In [162]:
query = '''

        INSERT INTO customer_list 
        VALUES ( 'niven ' , 'north pole', 'niven.rooprah@yorksj.ac.uk', '+44 .....', '760665' ) 

        '''

execute_query(query, 'data/books.sqlite')

IntegrityError: UNIQUE constraint failed: customer_list.customer_id

Alongside the constraint around unique user Ids, we can also add a basic constraint around email addresses to ensure that emails uploaded to our system happen to meet a particular specification.

In [164]:
query = '''

        INSERT INTO customer_list 
        VALUES ( 'niven ' , 'north pole', 'blah blah', '+44 .....', '760665' ) 

        '''

execute_query(query, 'data/books.sqlite')

IntegrityError: CHECK constraint failed: email LIKE '%@%.%'

Additioanl bits of verification that I could add to my dataset , possibly checking if price is inputted correctly, 
phone numbers are correctly documentated

Bare in mind lots of additional checks can be added to ensure full functionality for bookshelifas databases but I've only Implemented a few of them